<a href="https://colab.research.google.com/github/namhawon/2024_Study01/blob/main/3_%ED%81%B4%EB%9E%98%EC%8A%A4%EA%B8%B0%EC%B4%88%EC%99%80%EC%8B%AC%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.클래스

In [ ]:
class Tunaset():
  normal = 0
  veg = 0
  pepper = 0

In [ ]:
tunaset1 = Tunaset()
tunaset2 = Tunaset()

tunaset1.normal = 100
tunaset1.veg = 200
tunaset1.pepper = 300

tunaset2.normal = 200

In [ ]:
tunaset1.normal

100

In [ ]:
tunaset2.veg

0

In [ ]:
class Tunaset():
  normal = 0
  veg = 0
  pepper = 0

  # 메소드의 첫번째 매개변수는 self이다.
  def print_items(self, name): # self는 인스턴스 그 자신
    print(name)
    print('normal : ', self.normal)
    print('veg : ', self.veg)
    print('pepper : ', self.pepper)

tunaset1 = Tunaset()

In [ ]:
tunaset1.normal

0

In [ ]:
tunaset1.normal = 100
tunaset1.normal

100

In [ ]:
tunaset1.print_items('참치세트1번')

참치세트1번
normal :  100
veg :  0
pepper :  0

In [ ]:
tunaset2 = Tunaset()

In [ ]:
# 인스턴스 만들기
tunaset1 = Tunaset()
tunaset1.normal = 100
tunaset1.veg = 200
tunaset1.pepper = 300

tunaset2 = Tunaset()
tunaset2.normal = 200
tunaset2.veg = 300
tunaset2.pepper = 400

In [ ]:
tunaset1.print_items('tunaset1의 내용물')
print('--------------------')
tunaset2.print_items('tunaset2의 내용물')

tunaset1의 내용물
normal :  100
veg :  200
pepper :  300
--------------------
tunaset2의 내용물
normal :  200
veg :  300
pepper :  400

### 1-1.클래스의 생성자

In [ ]:
class Tunaset(): # 클래스 이름은 첫 글자가 대문자
  def __init__(self, normal, veg, pepper):
    self.normal = normal
    self.veg = veg
    self.pepper = pepper


  def print_items(self, name): # self는 인스턴스 그 자신
    print(name)
    print('normal : ', self.normal)
    print('veg : ', self.veg)
    print('pepper : ', self.pepper)

In [ ]:
tunaset1 = Tunaset(100, 200, 300)

In [ ]:
tunaset1.normal

100

In [ ]:
tunaset1.print_items('temp1')

temp1
normal :  100
veg :  200
pepper :  300

In [ ]:
class Tunaset(): # 클래스 이름은 첫 글자가 대문자

  normal = 0
  veg = 0
  pepper = 0

  def __init__(self, normal, veg, pepper):
    self.normal = normal
    self.veg = veg
    self.pepper = pepper


  def print_items(self, name): # self는 인스턴스 그 자신
    print(name)
    print('normal : ', self.normal)
    print('veg : ', self.veg)
    print('pepper : ', self.pepper)

In [ ]:
class Box():
  red = 0
  blue = 1

  def __init__(self, blue):
    self.blue = blue
    Box.red = Box.red + 1

In [ ]:
box1 = Box(2)
print(box1.red)
print(box1.blue)

1
2

In [ ]:
box2 = Box(1)
print(box2.red)
print(box2.blue)

2
1

In [ ]:
box3 = Box(100)
print(box3.red)
print(box3.blue)

6
100

### 1-2.상속

In [ ]:
str1 = 'hello'
print("type : ", type(str1))
# print("dir : ", dir(str1))

type :  <class 'str'>

In [ ]:
# object

class Student(object):
  def __new__(cls, *args):
    print('__new__ gets called.')
    student = object.__new__(cls)
    return student

  def __init__(self, name, id_number): # 생성자
    self.name = name
    self.id_number = id_number
    print('__init__ gets called.')

In [ ]:
student1 = Student('Hong', 1)

__new__ gets called.
__init__ gets called.

### 1-3.오버라이딩(Overriding)

In [ ]:
class Tunaset(): # 클래스 이름은 첫 글자가 대문자
  def __init__(self, normal, veg, pepper):
    self.normal = normal
    self.veg = veg
    self.pepper = pepper

  def print_items(self, name): # self는 인스턴스 그 자신
    print(name)
    print('normal : ', self.normal)
    print('veg : ', self.veg)
    print('pepper : ', self.pepper)


# special 이라는 품목 추가
class SpecialSet(Tunaset):
  def __init__(self, normal, veg, pepper, special):
    self.normal = normal
    self.veg = veg
    self.pepper = pepper
    self.special = special

  def print_items(self, name):
    super().print_items(name)

In [ ]:
specialset = SpecialSet(100, 200, 300, 400)
specialset.normal

100

In [ ]:
# special 이라는 품목 추가
class SpecialSet(Tunaset):
  def __init__(self, normal, veg, pepper, special):
    super().__init__(normal, veg, pepper)
    self.special = special

  def print_items(self, name):
    super().print_items(name)

In [ ]:
# special 이라는 품목 추가 하고 print_items에서 special 출력
class SpecialSet(Tunaset):
  def __init__(self, normal, veg, pepper, special):
    super().__init__(normal, veg, pepper)
    self.special = special

  def print_items(self, name):
    super().print_items(name)
    print('special : ', self.special)

In [ ]:
specialset1 = SpecialSet(1, 2, 3, 4)
specialset1.print_items('specialset1 출력')

specialset1 출력
normal :  1
veg :  2
pepper :  3
special :  4

In [ ]:
tunaset = Tunaset(1, 2, 3)
tunaset.print_items('tunaset 출력')

tunaset 출력
normal :  1
veg :  2
pepper :  3

In [ ]:
print(dir(Tunaset)) ; print(type(Tunaset))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'print_items']
<class 'type'>

In [ ]:
class Tunaset(): # 클래스 이름은 첫 글자가 대문자
  def __init__(self, normal, veg, pepper):
    self.normal = normal
    self.veg = veg
    self.pepper = pepper

  def print_items(self, name): # self는 인스턴스 그 자신
    print(name)
    print('normal : ', self.normal)
    print('veg : ', self.veg)
    print('pepper : ', self.pepper)

  def __str__(self):
    return "I'm Tuna"
    # return 'normal : ' + str(self.normal) + ', veg : ' + str(self.veg) + ', pepper : ' + str(self.pepper)

  def __call__(self, x): # 딥러닝 할때 엄청 많이 씀.
    print(" x : ", x)
    print('call')

goodTuna = Tunaset(1, 2, 3)
goodTuna.print_items('goodTuna')

goodTuna
normal :  1
veg :  2
pepper :  3

In [ ]:
goodTuna

In [ ]:
print(goodTuna)

I'm Tuna

In [ ]:
goodTuna(3)

 x :  3
call

In [ ]:
list1 = [1, 2, 3]
dict1 = {'a' : 1, 'b' : 2}
print(list1)
print(dict1)

[1, 2, 3]
{'a': 1, 'b': 2}

In [ ]:
print("list1[1] : ", list1[1])
print("dict1['b'] : ", dict1['b'])

list1[1] :  2
dict1['b'] :  2

In [ ]:
list2 = [1, "이", 2.3]
print(list2)

[1, '이', 2.3]

In [ ]:
# 함수와 메서드 의 차이점
def add(x):
  return x + 1

class Add1():
  def add(self, x):
    return x + 1